.Hero
{
    height:150vh;
    background:linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display:flex;
    overflow:hidden;
    /* border:10px solid red; */
}
.hero-left
{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
    margin-top:100px;
    padding-left:180px;
    line-height:1.1;
}
.hero-left h2
{
    color:#090909;
    font-size:26px;
    font-weight:600;
}
.hero-left p{
    color:#171717;
    font-size:100px;
    font-weight:700;
    
}
.hero-hand-icon
{
    display:flex;
    align-items:center;
    gap:20px;

}
.hero-hand-icon img
{
    width:105px;
}
.hero-latest-button
{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    width:310px;
    height:70px;
    border-radius:75px;
    margin-top:30px;
    background:#ff4141;
    color:white;
    font-size:22px;
    font-weight:600;
}
.hero-right
{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    /* border:2px solid red; */
    margin-top:350px;
    height:30%;
}

@media (max-width:1280px)
{
    .hero-left
    {
          margin-top:-200px;
          padding-left:100px;
    }
    .hero-left h2
    {
        font-size:22px;
    }
    .hero-left p
    {
        font-size:60px;
    }
    .hero-hand-icon img
    {
        width:80px;
    }
    .hero-latest-button
    {
        gap:10px;
        width:250px;
        height:60px;
        margin-top:20px;
        font-size:18px;
    }
  
}
@media (max-width:1030px)
{
    .Hero
    {
        /* width:120vh; */
        /* overflow:hidden; */
        height:130vh;
    }
   .hero-left
    {
        
          margin-top:-200px;
          padding-left:80px;
    }
    .hero-left h2
    {
        font-size:20px;
    }
    .hero-left p
    {
        font-size:50px;
    }
    .hero-hand-icon img
    {
        width:65px;
    }
    .hero-latest-button
    {
        /* gap:10px; */
        width:220px;
        height:50px;
        /* margin-top:20px; */
        font-size:16px;
    }
    .hero-right img
    {
       margin-bottom:200px;
        width:400px;
        height:90vh;
    }
}
@media (max-width:1025px)
{
    .Hero
    {
        /* width:120vh; */
        /* overflow:hidden; */
        height:130vh;
    }
   .hero-left
    {
        
          margin-top:-200px;
          padding-left:80px;
    }
    .hero-left h2
    {
        font-size:20px;
    }
    .hero-left p
    {
        font-size:50px;
    }
    .hero-hand-icon img
    {
        width:65px;
    }
    .hero-latest-button
    {
        /* gap:10px; */
        width:220px;
        height:50px;
        /* margin-top:20px; */
        font-size:16px;
    }
    .hero-right img
    {
       margin-top:100px;
       margin-bottom:50px;
        width:400px;
        height:100vh;
    }
}
@media (max-width:800px)
{
    .Hero
    {
        /* width:120vh; */
        /* overflow:hidden; */
        height:130vh;
    }
   .hero-left
    {
          margin-top:-200px;
          padding-left:50px;
    }
    .hero-left h2
    {
        font-size:20px;
    }
    .hero-left p
    {
        font-size:50px;
    }
    .hero-hand-icon img
    {
        width:65px;
    }
    .hero-latest-button
    {
        /* gap:10px; */
        width:220px;
        height:50px;
        /* margin-top:20px; */
        font-size:16px;
    }
    .hero-right img
    {
        margin-top:100px;
       margin-bottom:200px;
        /* margin-left:-100px; */
        width:300px;
        /* border:10px solid red; */
        /* height:110vh; */
    }
}
@media(max-width:550px)
{
    .Hero
    {
        /* width:80vh; */
        height:100vh;
        flex-direction:column;
    }
    .hero-left
    {
        margin-top:50px;
    }
    .hero-right{
        display:none;
    }
    .hero-left h2{
        font-size:20px;
    }
    .hero-left p
    {
        font-size:60px;
    }
    .hero-hand-icon img
    {
        width:70px;
    }
    .hero-latest-button
    {
        width:220px;
        height:50px;
        /* margin-top:20px; */
        font-size:18px;
    }

}